<h1>Listing memes</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Content</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @memes.each do |meme| %>
  <tr>
    <td><%= meme.name %></td>
    <td><%= meme.content %></td>
    <td><%= link_to 'Show', meme %></td>
    <td><%= link_to 'Edit', edit_meme_path(meme) %></td>
    <td><%= link_to 'Destroy', meme, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Meme', new_meme_path %>
